body{
    margin: 0;
    padding: 0;
    font-family: 'Bellota', cursive;
}
.header{
    background-color: #000000;
    border-bottom: 2px solid #cfa417;
    height: 95px;
}
.navbar{
    height: 95px;
    overflow: hidden;   
}
.navbar ul {
    list-style: none;
    margin-left: 163px;
    margin-top: 42px;
    /* display: inline-block; */

}
.navbar ul li{
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
}
.navbar ul li a{
    color:white;
    text-decoration: none;


}
.navbar ul li a:hover{
    color:#cfa417;
    padding:2px;
}
img{
    width: 143px;
    margin-top: -102px;
}
.right{
        position: absolute;
        right: 34px;
        top:20px;
        display: inline-block;
    }
    .btnrgt{
           height: 35px;
            width: 170px;
            padding: 2px 3px;
            background-color: transparent;
            border: 2px solid #cfa417;
            color: white;
            font-size: 15px;
            margin-top: 20px;
            font-family: 'Bellota', cursive ;
    }
      .btnrgt:hover{
            background-color:#cfa417;
        
        }
#eyes{
    background-image: url(http://glammbeautystudio.com/img/page-top-bg/1.jpg);
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#eyes h1{
    text-align: center;
    color: white;
    padding-top: 110px;
}
.welcome{
    padding-top: 110px;
    padding-bottom: 110px;

}
.box{
    display: flex;

}
.second1{
    width: 50%;
    /* min-height: 50px; */
    /* padding-right: 15px; */
    padding-left: 50px;
    /* display: inline-block; */


}
.second1 img{

    width: 80%;
    margin-top: 70px;
    /* margin-left: 30px; */
    float: left;
}
.second2{
    display: inline-block;
    width: 700px;
}
.second2 h1{
    padding-top: 100px;
    padding-left: 60px;
    font-size: 50px;
    text-align: center;
    
}
.second2 p{
    font-size:20px;
    line-height: 30px;
    word-spacing: 10px;
    color: gray;
    line-break: normal;
}
.second2 h2{
    font-size: 50px;
}
.clock{
    width: 550px;
    height: 500px;
    background-color: rgb(243, 233, 233);
    padding-left: 50px;
}
.clock img{
    width: 100px;
    margin-top: 13px
}
.time{
    padding-top: 22px;
    font-size: 25px;
}
.btn{
    height: 40px;
    width: 142px;
    font-size: 17px;
    margin-top: 20px;
    border: 2px solid #CFA417;
    background: #CFA417;
    color: white;
    font-family: 'Bellota', cursive;

}
.appoinment{
    background-image: url(../img/footer-bg.jpg);
    width: 100%;
    height: 700px;
}
.a1{
    padding-top: 100px;
    height: 400px;
    width:20%;
    margin-left: 30px;
    float: left;
}
.a1 p{
    color: gray;
    text-align: center;
}
.a1 img{
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 60px;

}
.a2{
    float: left;
    padding-top: 133px;
   margin-left: 77px;
}
.a2 ul{
    color:gray;
}
.a2 ul li{
    list-style: none;
}
ul li{
    padding: 8px;
}
.a3{
    padding-top: 133px;
width: 400px;
height: 500px;
float: left;
margin-left: 100px;
}


.form{
    /* height: 500px; */
    /* width: 400px; */
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
.form input{
   background-color: transparent;
   border: none;
   border-bottom: 2px solid gray;
   padding: 10px;
   margin-bottom: 35px;
   
}
.btn_last{
    background-color: #cfa417 ;
    color: white;
    margin-top: 20px;
    height:40px;
    width: 100px;
    border: none;
    font-size: 20px;
}
